body {
  font-family: monospace;
}

h1 {
  margin: 1% 2% 2% 0%;
  border: 15px solid black;
  width: 22.1%;
  padding: 0.6%;
  padding-bottom: 0.75%;
}

#beep {
  color: white;
  background-color: #009BDC;
  padding: 1% 1% 2% 5%;
}

#boop {
  color: white;
  background-color: black;
  padding: 1% 5% 2% 1%;
}

#topForm {
  margin-bottom: 2%;
}

#left img {
  height: 85%;
}

#rightBox {
  border: 50px solid black;
  border-radius: 3%;
  height: 420px;
  width: 842px;
  margin-top: 50px;
  background-color: #009BDC;
}

#button {
  color: white;
  background-color: #009BDC;
  border: 1px solid white;
}

#form input{
  margin-left: 35%;
  background-color: #009BDC;
  border-right: 1px solid rgb(20, 145, 205);
  border-top: 1px solid rgb(20, 145, 205);
  color: white;
}

#form label{
  margin: 15% 5% 1% 35%;
  color: white;
}

#result {
  padding-left: 3%;
  border: 15px solid black;
  border-radius: 3%;
  background-color: #009BDC;
  color: white;
}